# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/trunk/build
/trunk/conan/conaninfo.txt
/trunk/conan/conanbuildinfo.cmake
/trunk/conan/conanbuildinfo.gcc
/trunk/conan/conanbuildinfo.txt
/build
Build/rules.ninja
Build/.ninja_deps
Build/.ninja_log
Build/build.ninja
Build/cmake_install.cmake
Build/CMakeCache.txt
Build/bin/Tests
Build/CMakeFiles/cmake.check_cache
Build/CMakeFiles/CMakeOutput.log
Build/CMakeFiles/TargetDirectories.txt
Build/CMakeFiles/3.16.3/CMakeCCompiler.cmake
Build/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake
Build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_C.bin
Build/CMakeFiles/3.16.3/CMakeDetermineCompilerABI_CXX.bin
Build/CMakeFiles/3.16.3/CMakeSystem.cmake
Build/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c
Build/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp
Conan/conan.lock
Conan/conanbuildinfo.cmake
Conan/conanbuildinfo.txt
Conan/conaninfo.txt
Conan/graph_info.json
Conan/PackagesProperties.txt
